In [27]:
import mysql.connector

#connecting to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="12345678",
  database="movies"
)
print(mydb)
mycursor = mydb.cursor()

<mysql.connector.connection_cext.CMySQLConnection object at 0x10e68b350>

In [ ]:
# Ex 2: Has d'obtenir el nom, el país i la data de naixement d'aquelles persones per les quals no consti una data
# de mort i ordenar les dades de la persona més vella a la persona més jove.
mycursor.execute("select person_name , person_country , person_dob  from tb_person tp where person_dod IS NULL order by person_dob;")
myresult = mycursor.fetchall()
myresult

In [ ]:
# Ex 3: Has d'obtenir el nom del gènere i el nombre total de pel·lícules d'aquest gènere i 
# ordenar-ho per ordre descendent de nombre total de pel·lícules.
mycursor.execute("SELECT  tg.genre_name , COUNT(*) AS total_movies \
                    FROM tb_movie tm \
                    JOIN tb_genre tg ON tm.movie_genre_id = tg.genre_id \
                    GROUP BY tm.movie_genre_id  \
                    ORDER BY total_movies DESC")
myresult = mycursor.fetchall()
myresult

In [31]:
# Ex 4: You need to get, for each person, their name and the maximum number of different roles they have had in the same movie.
# Subsequently, it only shows those people who have assumed more than one role in the same film.
# Starting from this query bellow it's easier to understand the final query
mycursor.execute("SELECT tm.movie_title, tp.person_name, tr.role_name \
                    FROM tb_movie_person tmp \
                    JOIN tb_person tp ON tmp.person_id = tp.person_id \
                    JOIN tb_role tr  ON tmp.role_id = tr.role_id \
                    JOIN tb_movie tm ON tmp.movie_id = tm.movie_id \
                    ORDER BY tm.movie_title, tp.person_name")
first_query_result = mycursor.fetchall()
mycursor.execute("SELECT tp.person_name, count(DISTINCT tr.role_name) \
                    FROM tb_movie_person tmp \
                    JOIN tb_person tp ON tmp.person_id = tp.person_id \
                    JOIN tb_role tr  ON tmp.role_id = tr.role_id \
                    JOIN tb_movie tm ON tmp.movie_id = tm.movie_id \
                    GROUP BY tp.person_name \
                    HAVING COUNT(DISTINCT tr.role_name) > 1")
final_query_result = mycursor.fetchall()
first_query_result, final_query_result

([('Apocalypse Now', 'Carmine Coppola', 'Música'),
  ('Apocalypse Now', 'Charlie Sheen', 'Actor'),
  ('Apocalypse Now', 'Francis Ford Coppola', 'Música'),
  ('Apocalypse Now', 'Francis Ford Coppola', 'Productor'),
  ('Apocalypse Now', 'Francis Ford Coppola', 'Director'),
  ('Apocalypse Now', 'Harrison Ford', 'Actor'),
  ('Apocalypse Now', 'Marlon Brando', 'Actor'),
  ('Apocalypse Now', 'Martin Sheen', 'Actor'),
  ('Apocalypse Now', 'Robert Duvall', 'Actor'),
  ('Braveheart', 'Mel Gibson', 'Director'),
  ('Braveheart', 'Mel Gibson', 'Actor'),
  ('El otro lado de la cama', 'Emilio Martinez Lazaro', 'Director'),
  ('ET The Extraterrestrial', 'Steven Spielberg', 'Director'),
  ('Indiana Jones and the Temple of Doom', 'George Lucas', 'Actor'),
  ('Indiana Jones and the Temple of Doom', 'George Lucas', 'Guionista'),
  ('Indiana Jones and the Temple of Doom', 'Harrison Ford', 'Actor'),
  ('Indiana Jones and the Temple of Doom', 'John Williams', 'Música'),
  ('Indiana Jones and the Temple of Doom', 'Steven Spielberg', 'Director'),
  ('Jaws', 'Steven Spielberg', 'Director'),
  ('La Gran Familia Española', 'Daniel Sanchez Arevalo', 'Guionista'),
  ('La Gran Familia Española', 'Daniel Sanchez Arevalo', 'Director'),
  ('La Gran Familia Española', 'Hector Colome', 'Actor'),
  ('La Gran Familia Española', 'Patrick Criado', 'Actor'),
  ('La Gran Familia Española', 'Quim Gutierrez', 'Actor'),
  ('La Gran Familia Española', 'Robert Alamo', 'Actor'),
  ('La Gran Familia Española', 'Veronica Echegui', 'Actor'),
  ('Ocho Apellidos Catalanes', 'Carmen Machi', 'Actor'),
  ('Ocho Apellidos Catalanes', 'Clara Lago', 'Actor'),
  ('Ocho Apellidos Catalanes', 'Dani Rovira', 'Actor'),
  ('Ocho Apellidos Catalanes', 'Emilio Martinez Lazaro', 'Director'),
  ('Ocho Apellidos Catalanes', 'Karra Elejalde', 'Actor'),
  ('Ocho Apellidos Vascos', 'Carmen Machi', 'Actor'),
  ('Ocho Apellidos Vascos', 'Clara Lago', 'Actor'),
  ('Ocho Apellidos Vascos', 'Dani Rovira', 'Actor'),
  ('Ocho Apellidos Vascos', 'Emilio Martinez Lazaro', 'Director'),
  ('Ocho Apellidos Vascos', 'Karra Elejalde', 'Actor'),
  ('Psycho', 'Alfred Joseph Hitchcock', 'Director'),
  ('Psycho', 'Alfred Joseph Hitchcock', 'Actor'),
  ('Psycho', 'Alfred Joseph Hitchcock', 'Productor'),
  ('Psycho', 'Anthony Perkins', 'Director'),
  ('Psycho', 'Vera Miles', 'Director'),
  ('Star Wars:Episode IV - A New Hope', 'Gary Kurtz', 'Productor'),
  ('Star Wars:Episode IV - A New Hope', 'George Lucas', 'Director'),
  ('Star Wars:Episode IV - A New Hope', 'Harrison Ford', 'Actor'),
  ('The Shawshank Redemption', 'Morgan Freeman', 'Actor'),
  ('The Shawshank Redemption', 'Tim Robbins', 'Actor'),
  ('The Terminal', 'Catherine Zeta-Jones', 'Actor'),
  ('The Terminal', 'Steven Spielberg', 'Director'),
  ('The Terminal', 'Steven Spielberg', 'Productor'),
  ('The Terminal', 'Tom Hanks', 'Actor')],
 [('Alfred Joseph Hitchcock', 3),
  ('Daniel Sanchez Arevalo', 2),
  ('Francis Ford Coppola', 3),
  ('George Lucas', 3),
  ('Mel Gibson', 2),
  ('Steven Spielberg', 2)])

In [46]:
# Ex5: You must create a new genre called "Documentary" which has the number 69 as its identifier.
mycursor.execute("INSERT INTO movies.tb_genre \
                    (genre_id, genre_name) \
                    VALUES(69, 'Documentary')")
mycursor.fetchall()
mycursor.execute("SELECT * FROM movies.tb_genre WHERE genre_id = 69")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(90, 'Documentary', 'OS_SGAD', None, None)