In [2]:
# Importing the libraries
import pandas as pd

In [21]:
flights.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [25]:
# Loading the dataset

# load the original data
# flights = pd.read_csv("/Users/david/Downloads/archive/DelayedFlights.csv")
# flights.head()

# get 200.000 random samples and save in a csv
# flights.sample(n=200000).to_csv('DelayedFlights_200_000_random_samples.csv', index=False)

df = pd.read_csv("DelayedFlights_200_000_random_samples.csv")
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,6980195,2008,12,19,5,1931.0,1900,2112.0,2048,CO,...,6.0,32.0,0,N,0,0.0,0.0,0.0,0.0,24.0
1,1215856,2008,3,15,6,2108.0,2000,2159.0,2050,WN,...,4.0,11.0,0,N,0,68.0,0.0,1.0,0.0,0.0
2,5678691,2008,10,27,1,1506.0,1500,1735.0,1759,DL,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,3725976,2008,7,26,6,1844.0,1644,2048.0,1844,XE,...,3.0,37.0,0,N,0,22.0,0.0,4.0,0.0,98.0
4,6704140,2008,12,9,2,1849.0,1750,2107.0,2000,US,...,8.0,18.0,0,N,0,0.0,0.0,8.0,0.0,59.0

In [ ]:
# 1- Briefly explain which variables there are in the data set