In [2]:
# Importing the libraries
import pandas as pd

In [3]:
# Loading the dataset

# load the original data
# flights = pd.read_csv("/Users/david/Downloads/archive/DelayedFlights.csv")
# flights.head()

# get 200.000 random samples and save in a csv
# flights.sample(n=200000).to_csv('DelayedFlights_200_000_random_samples.csv', index=False)

df = pd.read_csv("DelayedFlights_200_000_random_samples.csv")
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,6980195,2008,12,19,5,1931.0,1900,2112.0,2048,CO,...,6.0,32.0,0,N,0,0.0,0.0,0.0,0.0,24.0
1,1215856,2008,3,15,6,2108.0,2000,2159.0,2050,WN,...,4.0,11.0,0,N,0,68.0,0.0,1.0,0.0,0.0
2,5678691,2008,10,27,1,1506.0,1500,1735.0,1759,DL,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,3725976,2008,7,26,6,1844.0,1644,2048.0,1844,XE,...,3.0,37.0,0,N,0,22.0,0.0,4.0,0.0,98.0
4,6704140,2008,12,9,2,1849.0,1750,2107.0,2000,US,...,8.0,18.0,0,N,0,0.0,0.0,8.0,0.0,59.0

In [4]:
# 1- Briefly explain which variables there are in the data set
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 30 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         200000 non-null  int64
 1   Year               200000 non-null  int64
 2   Month              200000 non-null  int64
 3   DayofMonth         200000 non-null  int64
 4   DayOfWeek          200000 non-null  int64
 5   DepTime            200000 non-null  float64
 6   CRSDepTime         200000 non-null  int64
 7   ArrTime            199294 non-null  float64
 8   CRSArrTime         200000 non-null  int64
 9   UniqueCarrier      200000 non-null  object
 10  FlightNum          200000 non-null  int64
 11  TailNum            200000 non-null  object
 12  ActualElapsedTime  199142 non-null  float64
 13  CRSElapsedTime     199979 non-null  float64
 14  AirTime            199142 non-null  float64
 15  ArrDelay           199142 non-null  float64
 16  DepDelay           200000 non-null  float64
 17  Origin             200000 non-null  object
 18  Dest               200000 non-null  object
 19  Distance           200000 non-null  int64
 20  TaxiIn             199294 non-null  float64
 21  TaxiOut            199961 non-null  float64
 22  Cancelled          200000 non-null  int64
 23  CancellationCode   200000 non-null  object
 24  Diverted           200000 non-null  int64
 25  CarrierDelay       128917 non-null  float64
 26  WeatherDelay       128917 non-null  float64
 27  NASDelay           128917 non-null  float64
 28  SecurityDelay      128917 non-null  float64
 29  LateAircraftDelay  128917 non-null  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 45.8+ MB

<h2>Briefly explain which variables there are in the data set</h2>
Year 2008
Month 1-12
DayofMonth 1-31
DayOfWeek 1 (Monday) - 7 (Sunday)
DepTime actual departure time (local, hhmm)
CRSDepTime scheduled departure time (local, hhmm)
ArrTime actual arrival time (local, hhmm)
CRSArrTime scheduled arrival time (local, hhmm)
UniqueCarrier unique carrier code
FlightNum flight number
TailNum plane tail number: aircraft registration, unique aircraft identifier
ActualElapsedTime in minutes
CRSElapsedTime in minutes
AirTime in minutes
ArrDelay arrival delay, in minutes: A flight is counted as "on time" if it operated less than 15 minutes later the scheduled time shown in the carriers' Computerized Reservations Systems (CRS).
DepDelay departure delay, in minutes
Origin origin IATA airport code
Dest destination IATA airport code
Distance in miles
TaxiIn taxi in time, in minutes
TaxiOut taxi out time in minutes
Cancelled *was the flight cancelled
CancellationCode reason for cancellation (A = carrier, B = weather, C = NAS, D = security)
Diverted 1 = yes, 0 = no
CarrierDelay in minutes is within the control of the air carrier. 
WeatherDelay in minutes is caused by extreme or hazardous weather conditions.
NASDelay in minutes: Delay that is within the control of the National Airspace System (NAS) may include: non-extreme weather conditions, airport operations, heavy traffic volume, air traffic control, etc.
SecurityDelay in minutes: Security delay is caused by evacuation of a terminal or concourse, re-boarding of aircraft because of security breach, inoperative screening equipment and/or long lines in excess of 29 minutes at screening areas.
LateAircraftDelay in minutes: Arrival delay at an airport due to the late arrival of the same aircraft at a previous airport. The ripple effect of an earlier delay at downstream airports is referred to as delay propagation.

In [5]:
# Dropping columns not usefull
df = df.drop("Unnamed: 0", axis=1) #Empty
df = df.drop("FlightNum", axis=1) #There is no direction with the delay
df = df.drop("TailNum", axis=1) #There is no direction with the delay

In [6]:
# Statiscally summarize the dataset and columns of interest. Do a statistical analysis of what you consider relevant

In [7]:
# How much missing data there is per column
df.isnull().sum()

Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime                  0
CRSDepTime               0
ArrTime                706
CRSArrTime               0
UniqueCarrier            0
ActualElapsedTime      858
CRSElapsedTime          21
AirTime                858
ArrDelay               858
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                 706
TaxiOut                 39
Cancelled                0
CancellationCode         0
Diverted                 0
CarrierDelay         71083
WeatherDelay         71083
NASDelay             71083
SecurityDelay        71083
LateAircraftDelay    71083
dtype: int64

In [8]:
# Create new columns
# Flight speed
df['average_flight_speed (miles/min)'] = df.Distance / df.AirTime
# Departure Time
dep_time = pd.to_datetime(df.Year*10000 + df.Month*100 + df.DayofMonth, format='%Y%m%d')
df.insert(loc = 0, column = 'DepDate', value = dep_time)
df = df.drop("Year", axis = 1) # Now we have the year, month and day in just one column
df = df.drop("Month", axis = 1)
df = df.drop("DayofMonth", axis = 1)

# Creating status column
df.loc[:, 'Status'] = 'NOTHING'
df.loc[df.ArrDelay <= 15, 'Status'] = 0 # on time
df.loc[df.ArrDelay > 15, 'Status'] = 1 # slightly delayed
df.loc[df.ArrDelay >= 60, 'Status'] = 2 # hightly delayed
df.loc[df.Diverted == 1, 'Status'] = 3
df.loc[df.Cancelled == 1, 'Status'] = 4

df = df.drop("Cancelled", axis=1)
df = df.drop("Diverted", axis = 1)

In [53]:
# Make a table of the airlines with the most accumulated delays.
print("Airlines with the most accumulated delays\n")
print(df.groupby(['UniqueCarrier'], as_index=False)['ArrDelay'].sum().sort_values(by='UniqueCarrier', ascending=0).to_string(index=False))

Airlines with the most accumulated delays

UniqueCarrier  ArrDelay
           YV  377727.0
           XE  541750.0
           WN 1152291.0
           US  369900.0
           UA  696018.0
           OO  622031.0
           OH  284200.0
           NW  363542.0
           MQ  657207.0
           HA   26406.0
           FL  317287.0
           F9   81347.0
           EV  392420.0
           DL  470766.0
           CO  420134.0
           B6  310361.0
           AS  144872.0
           AQ    1823.0
           AA  936408.0
           9E  248637.0

In [75]:
# What are the longest flights? 10 mas segundo aerolineas 
print("The longest flights:\n")
print(df.sort_values(by='AirTime', ascending=0))

The longest flights:

          DepDate  DayOfWeek  DepTime  CRSDepTime  ArrTime  CRSArrTime  \
135729 2008-02-22          5   1345.0        1320   2023.0        1920
151914 2008-03-20          4   1453.0        1320   2026.0        1820
35359  2008-11-14          5   1349.0        1335   1940.0        1935
89678  2008-02-11          1   1334.0        1320   1921.0        1920
144420 2008-04-29          2   1407.0        1335   1845.0        1810
...           ...        ...      ...         ...      ...         ...
198334 2008-12-30          2   1140.0        1129   1759.0        1343
198723 2008-11-05          3   1749.0        1735      NaN        1920
198803 2008-07-27          7   2252.0        2145      NaN         607
199482 2008-12-27          6   1103.0        1035   1502.0        1222
199823 2008-02-04          1    958.0         925      NaN        1033

       UniqueCarrier  ActualElapsedTime  CRSElapsedTime  AirTime  ...  \
135729            CO              698.0           660.0    648.0  ...
151914            CO              693.0           660.0    641.0  ...
35359             CO              651.0           660.0    622.0  ...
89678             CO              647.0           660.0    622.0  ...
144420            CO              638.0           635.0    620.0  ...
...              ...                ...             ...      ...  ...
198334            NW                NaN           194.0      NaN  ...
198723            OO                NaN           165.0      NaN  ...
198803            CO                NaN           322.0      NaN  ...
199482            XE                NaN           107.0      NaN  ...
199823            OH                NaN           128.0      NaN  ...

        TaxiOut  CancellationCode CarrierDelay WeatherDelay  NASDelay  \
135729     43.0                 N          0.0          6.0      38.0
151914     45.0                 N         26.0          0.0      33.0
35359      21.0                 N          NaN          NaN       NaN
89678      16.0                 N          NaN          NaN       NaN
144420     13.0                 N         32.0          0.0       3.0
...         ...               ...          ...          ...       ...
198334     13.0                 N          NaN          NaN       NaN
198723      NaN                 A          NaN          NaN       NaN
198803     11.0                 N          NaN          NaN       NaN
199482     12.0                 N          NaN          NaN       NaN
199823     13.0                 N          NaN          NaN       NaN

        SecurityDelay  LateAircraftDelay average_flight_speed (miles/min)  \
135729            0.0               19.0                         7.657407
151914            0.0               67.0                         7.741030
35359             NaN                NaN                         7.977492
89678             NaN                NaN                         7.977492
144420            0.0                0.0                         8.003226
...               ...                ...                              ...
198334            NaN                NaN                              NaN
198723            NaN                NaN                              NaN
198803            NaN                NaN                              NaN
199482            NaN                NaN                              NaN
199823            NaN                NaN                              NaN

        Status  FlightDuration
135729       2           678.0
151914       2           573.0
35359        0           591.0
89678        0           587.0
144420       1           438.0
...        ...             ...
198334       3           619.0
198723       4             NaN
198803       3             NaN
199482       3           399.0
199823       3             NaN

[200000 rows x 26 columns]
The most backward flights:

          DepDate  DayOfWeek  DepTime  CRSDepTime  ArrTime  CRSArrTime  \
131796 2008-04-10          4    724.0        1417    858.0        1605
134191 2008-06-20          5   2140.0        1710   2252.0        1825
178524 2008-03-21          5    626.0        1025    820.0        1225
107625 2008-12-14          7   1026.0        1420   1519.0        1929
22991  2008-09-24          3    618.0        1035   1031.0        1445
...           ...        ...      ...         ...      ...         ...
198334 2008-12-30          2   1140.0        1129   1759.0        1343
198723 2008-11-05          3   1749.0        1735      NaN        1920
198803 2008-07-27          7   2252.0        2145      NaN         607
199482 2008-12-27          6   1103.0        1035   1502.0        1222
199823 2008-02-04          1    958.0         925      NaN        1033

       UniqueCarrier  ActualElapsedTime  CRSElapsedTime  AirTime  ...  \
131796            NW              154.0           168.0    132.0  ...
134191            MQ               72.0            75.0     50.0  ...
178524            MQ              114.0           120.0     81.0  ...
107625            NW              173.0           189.0    140.0  ...
22991             AA              133.0           130.0    112.0  ...
...              ...                ...             ...      ...  ...
198334            NW                NaN           194.0      NaN  ...
198723            OO                NaN           165.0      NaN  ...
198803            CO                NaN           322.0      NaN  ...
199482            XE                NaN           107.0      NaN  ...
199823            OH                NaN           128.0      NaN  ...

        TaxiOut  CancellationCode CarrierDelay WeatherDelay  NASDelay  \
131796     14.0                 N       2436.0          0.0       0.0
134191     16.0                 N       1707.0          0.0       0.0
178524     22.0                 N       1160.0          0.0       0.0
107625     25.0                 N       1190.0          0.0       0.0
22991      10.0                 N       1183.0          0.0       3.0
...         ...               ...          ...          ...       ...
198334     13.0                 N          NaN          NaN       NaN
198723      NaN                 A          NaN          NaN       NaN
198803     11.0                 N          NaN          NaN       NaN
199482     12.0                 N          NaN          NaN       NaN
199823     13.0                 N          NaN          NaN       NaN

        SecurityDelay  LateAircraftDelay average_flight_speed (miles/min)  \
131796            0.0               17.0                         7.045455
134191            0.0                0.0                         6.080000
178524            0.0               35.0                         7.222222
107625            0.0                0.0                         9.285714
22991             0.0                0.0                         7.258929
...               ...                ...                              ...
198334            NaN                NaN                              NaN
198723            NaN                NaN                              NaN
198803            NaN                NaN                              NaN
199482            NaN                NaN                              NaN
199823            NaN                NaN                              NaN

        Status  FlightDuration
131796       2           134.0
134191       2           112.0
178524       2           194.0
107625       2           493.0
22991        2           413.0
...        ...             ...
198334       3           619.0
198723       4             NaN
198803       3             NaN
199482       3           399.0
199823       3             NaN

[200000 rows x 26 columns]

In [91]:
# A ideia eh procurar relaÃ§Ãµes entre as duas variÃ¡veis
# And the most backward? Look for the longest routes and those with the most delays.
print("The most backward flights:\n")
df.sort_values(by=['AirTime', 'ArrDelay'], ascending=[False, False]).iloc[0:50][['AirTime', 'ArrDelay']]

The most backward flights:

        AirTime  ArrDelay
135729    648.0      63.0
151914    641.0     126.0
35359     622.0       5.0
89678     622.0       1.0
144420    620.0      35.0
137578    618.0      15.0
23326     617.0      -6.0
36727     615.0      33.0
87318     614.0      43.0
100619    605.0      99.0
68504     603.0      -7.0
97838     602.0       8.0
33696     600.0      26.0
120498    600.0       1.0
119466    600.0      -2.0
53702     599.0       2.0
130218    599.0      -7.0
76071     599.0     -19.0
57901     598.0       4.0
125643    598.0      -2.0
167797    597.0     388.0
27920     595.0       6.0
63974     595.0       1.0
77269     595.0      -6.0
128173    594.0     131.0
142801    594.0       7.0
71400     592.0       7.0
8592      592.0      -1.0
158497    591.0       9.0
131474    591.0       8.0
89086     588.0      34.0
143194    588.0       0.0
117601    587.0      27.0
96881     580.0      44.0
49407     575.0      11.0
142858    572.0     106.0
89391     571.0      77.0
199530    571.0      38.0
169714    560.0     113.0
98502     557.0      32.0
5000      557.0      15.0
117475    557.0     -17.0
152259    555.0      19.0
73339     552.0      35.0
55752     552.0      15.0
67441     550.0     -14.0
67937     549.0     317.0
117993    549.0      21.0
99306     548.0      49.0
192610    547.0      22.0