In [78]:
# Importing the libraries
import pandas as pd

In [79]:
# Loading the dataset

# load the original data
flights = pd.read_csv("/Users/david/Downloads/archive/DelayedFlights.csv")
flights.head()

# get 200.000 random samples and save in a csv
flights.sample(n=200000).to_csv('DelayedFlights_200_000_random_samples.csv', index=False)

df = pd.read_csv("DelayedFlights_200_000_random_samples.csv")
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,6980195,2008,12,19,5,1931.0,1900,2112.0,2048,CO,47,N75861,221.0,228.0,183.0,24.0,31.0,IAH,LAX,1379,6.0,32.0,0,N,0,0.0,0.0,0.0,0.0,24.0
1,1215856,2008,3,15,6,2108.0,2000,2159.0,2050,WN,2670,N519SW,51.0,50.0,36.0,69.0,68.0,HOU,CRP,187,4.0,11.0,0,N,0,68.0,0.0,1.0,0.0,0.0
2,5678691,2008,10,27,1,1506.0,1500,1735.0,1759,DL,1460,N983DL,149.0,179.0,130.0,-24.0,6.0,FLL,LGA,1076,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,3725976,2008,7,26,6,1844.0,1644,2048.0,1844,XE,3001,N13914,124.0,120.0,84.0,124.0,120.0,EWR,GSP,594,3.0,37.0,0,N,0,22.0,0.0,4.0,0.0,98.0
4,6704140,2008,12,9,2,1849.0,1750,2107.0,2000,US,73,N316AW,198.0,190.0,172.0,67.0,59.0,PHX,SEA,1107,8.0,18.0,0,N,0,0.0,0.0,8.0,0.0,59.0

In [80]:
# 1- Briefly explain which variables there are in the data set
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 30 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         200000 non-null  int64
 1   Year               200000 non-null  int64
 2   Month              200000 non-null  int64
 3   DayofMonth         200000 non-null  int64
 4   DayOfWeek          200000 non-null  int64
 5   DepTime            200000 non-null  float64
 6   CRSDepTime         200000 non-null  int64
 7   ArrTime            199294 non-null  float64
 8   CRSArrTime         200000 non-null  int64
 9   UniqueCarrier      200000 non-null  object
 10  FlightNum          200000 non-null  int64
 11  TailNum            200000 non-null  object
 12  ActualElapsedTime  199142 non-null  float64
 13  CRSElapsedTime     199979 non-null  float64
 14  AirTime            199142 non-null  float64
 15  ArrDelay           199142 non-null  float64
 16  DepDelay           200000 non-null  float64
 17  Origin             200000 non-null  object
 18  Dest               200000 non-null  object
 19  Distance           200000 non-null  int64
 20  TaxiIn             199294 non-null  float64
 21  TaxiOut            199961 non-null  float64
 22  Cancelled          200000 non-null  int64
 23  CancellationCode   200000 non-null  object
 24  Diverted           200000 non-null  int64
 25  CarrierDelay       128917 non-null  float64
 26  WeatherDelay       128917 non-null  float64
 27  NASDelay           128917 non-null  float64
 28  SecurityDelay      128917 non-null  float64
 29  LateAircraftDelay  128917 non-null  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 45.8+ MB

<h2>Briefly explain which variables there are in the data set</h2>
Year 2008
Month 1-12
DayofMonth 1-31
DayOfWeek 1 (Monday) - 7 (Sunday)
DepTime actual departure time (local, hhmm)
CRSDepTime scheduled departure time (local, hhmm)
ArrTime actual arrival time (local, hhmm)
CRSArrTime scheduled arrival time (local, hhmm)
UniqueCarrier unique carrier code
FlightNum flight number
TailNum plane tail number: aircraft registration, unique aircraft identifier
ActualElapsedTime in minutes
CRSElapsedTime in minutes
AirTime in minutes
ArrDelay arrival delay, in minutes: A flight is counted as "on time" if it operated less than 15 minutes later the scheduled time shown in the carriers' Computerized Reservations Systems (CRS).
DepDelay departure delay, in minutes
Origin origin IATA airport code
Dest destination IATA airport code
Distance in miles
TaxiIn taxi in time, in minutes
TaxiOut taxi out time in minutes
Cancelled *was the flight cancelled
CancellationCode reason for cancellation (A = carrier, B = weather, C = NAS, D = security)
Diverted 1 = yes, 0 = no
CarrierDelay in minutes is within the control of the air carrier. 
WeatherDelay in minutes is caused by extreme or hazardous weather conditions.
NASDelay in minutes: Delay that is within the control of the National Airspace System (NAS) may include: non-extreme weather conditions, airport operations, heavy traffic volume, air traffic control, etc.
SecurityDelay in minutes: Security delay is caused by evacuation of a terminal or concourse, re-boarding of aircraft because of security breach, inoperative screening equipment and/or long lines in excess of 29 minutes at screening areas.
LateAircraftDelay in minutes: Arrival delay at an airport due to the late arrival of the same aircraft at a previous airport. The ripple effect of an earlier delay at downstream airports is referred to as delay propagation.

In [81]:
# Dropping columns not usefull
df = df.drop("Unnamed: 0", axis=1) #Empty
df = df.drop("FlightNum", axis=1) #There is no direction with the delay
df = df.drop("TailNum", axis=1) #There is no direction with the delay

In [82]:
# Statiscally summarize the dataset and columns of interest. 
df.describe(include="all")

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,200000.0,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,199294.000000,200000.000000,200000,199142.000000,199979.000000,199142.000000,199142.000000,200000.000000,200000,200000,200000.000000,199294.000000,199961.000000,200000.000000,200000,200000.000000,128917.000000,128917.000000,128917.000000,128917.000000,128917.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN,NaN,NaN,NaN,NaN,297,299,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WN,NaN,NaN,NaN,NaN,NaN,ATL,ORD,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38761,NaN,NaN,NaN,NaN,NaN,13597,11302,NaN,NaN,NaN,NaN,199945,NaN,NaN,NaN,NaN,NaN,NaN
mean,2008.0,6.117010,15.729930,3.983920,1518.838180,1467.700030,1610.126507,1634.061660,NaN,133.516215,134.514229,108.464960,42.256917,43.223550,NaN,NaN,766.985420,6.814907,18.251684,0.000275,NaN,0.004015,19.237533,3.805037,15.054942,0.086800,25.176230
std,0.0,3.479994,8.785195,1.997181,450.394769,424.558556,548.103573,464.461221,NaN,72.283173,71.562334,68.831375,57.068757,53.623946,NaN,NaN,576.141437,5.240886,14.420630,0.016581,NaN,0.063237,44.481666,21.472513,33.807747,1.996193,41.809043
min,2008.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,NaN,16.000000,1.000000,0.000000,-55.000000,6.000000,NaN,NaN,31.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2008.0,3.000000,8.000000,2.000000,1203.000000,1135.000000,1316.000000,1325.000000,NaN,80.000000,82.000000,58.000000,9.000000,12.000000,NaN,NaN,340.000000,4.000000,10.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2008.0,6.000000,16.000000,4.000000,1546.000000,1510.000000,1715.000000,1706.000000,NaN,116.000000,117.000000,90.000000,24.000000,24.000000,NaN,NaN,607.000000,6.000000,14.000000,0.000000,NaN,0.000000,2.000000,0.000000,2.000000,0.000000,8.000000
75%,2008.0,9.000000,23.000000,6.000000,1901.000000,1815.000000,2031.000000,2014.000000,NaN,165.000000,165.000000,137.000000,56.000000,53.000000,NaN,NaN,999.000000,8.000000,21.000000,0.000000,NaN,0.000000,21.000000,0.000000,15.000000,0.000000,33.000000
max,2008.0,12.000000,31.000000,7.000000,2400.000000,2359.000000,2400.000000,2400.000000,NaN,750.000000,660.000000,648.000000,2453.000000,2467.000000,NaN,NaN,4962.000000,225.000000,319.000000,1.000000,NaN,1.000000,2436.000000,1027.000000,1030.000000,357.000000,1002.000000

In [83]:
# Do a statistical analysis of what you consider relevant
# Let's look for some correlation just between the columns that have numbers
df_numbers = df.drop(['UniqueCarrier', 'DepDate', 'Origin', 'Dest', 'CancellationCode'], axis='columns')
pd.set_option('display.max_columns', None)  # This will ensure all columns are displayed
df_numbers.head()
df_numbers.corr()
# It can be observed by the correlation that the factor that most impact in arrive delay is the departure delay, what makes sense.
# And after that it is the LateAircraftDelay what can be seen by analizing the correlation
# between the ArrDelay, Status and LateAircraftDelay.

KeyError: "['DepDate'] not found in axis"

In [ ]:
# How much missing data there is per column
df.isnull().sum()

Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime                  0
CRSDepTime               0
ArrTime                706
CRSArrTime               0
UniqueCarrier            0
ActualElapsedTime      858
CRSElapsedTime          21
AirTime                858
ArrDelay               858
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                 706
TaxiOut                 39
Cancelled                0
CancellationCode         0
Diverted                 0
CarrierDelay         71083
WeatherDelay         71083
NASDelay             71083
SecurityDelay        71083
LateAircraftDelay    71083
dtype: int64

In [ ]:
# Create new columns
# Flight speed
df['average_flight_speed (miles/min)'] = df.Distance / df.AirTime
# Departure Time
dep_time = pd.to_datetime(df.Year*10000 + df.Month*100 + df.DayofMonth, format='%Y%m%d')
df.insert(loc = 0, column = 'DepDate', value = dep_time)
df = df.drop("Year", axis = 1) # Now we have the year, month and day in just one column
df = df.drop("Month", axis = 1)
df = df.drop("DayofMonth", axis = 1)

# Creating status column
df.loc[:, 'Status'] = 'NOTHING'
df.loc[df.ArrDelay <= 15, 'Status'] = 0 # on time
df.loc[df.ArrDelay > 15, 'Status'] = 1 # slightly delayed
df.loc[df.ArrDelay >= 60, 'Status'] = 2 # hightly delayed
df.loc[df.Diverted == 1, 'Status'] = 3
df.loc[df.Cancelled == 1, 'Status'] = 4

df = df.drop("Cancelled", axis=1)
df = df.drop("Diverted", axis = 1)

In [ ]:
# Make a table of the airlines with the most accumulated delays.
print("Airlines with the most accumulated delays:\n")
print(df.groupby(['UniqueCarrier'], as_index=False)['ArrDelay'].sum().sort_values(by='ArrDelay', ascending=0).to_string(index=False))

Airlines with the most accumulated delays:

UniqueCarrier  ArrDelay
           WN 1182287.0
           AA  948567.0
           UA  708551.0
           MQ  662296.0
           OO  626218.0
           XE  546897.0
           DL  479459.0
           CO  431382.0
           EV  395850.0
           US  380739.0
           YV  379098.0
           NW  367069.0
           FL  320287.0
           B6  316828.0
           OH  286291.0
           9E  250998.0
           AS  148074.0
           F9   82404.0
           HA   26660.0
           AQ    1958.0

In [ ]:
# What are the 10 longest flights?
print("The longest flights:\n")
print(df.sort_values(by='AirTime', ascending=1)[:10])

The longest flights:

          DepDate  DayOfWeek  DepTime  CRSDepTime  ArrTime  CRSArrTime  \
112437 2008-03-31          1   1540.0        1530   1804.0        1740
64177  2008-01-03          4   2129.0        2103   2224.0        2200
57359  2008-07-29          2   1800.0        1640   2000.0        1800
60407  2008-09-15          1   1422.0        1415   1545.0        1539
101784 2008-02-04          1   1055.0        1030   1125.0        1114
37840  2008-12-19          5   2134.0        2105   2200.0        2142
135022 2008-02-15          5   2123.0        2035   2140.0        2109
71928  2008-08-02          6   1058.0        1036   1118.0        1100
39415  2008-07-11          5   1112.0        1036   1131.0        1100
87597  2008-06-10          2   1600.0        1545   1636.0        1626

       UniqueCarrier  ActualElapsedTime  CRSElapsedTime  AirTime  ...  TaxiIn  \
112437            XE              144.0           130.0      0.0  ...     4.0
64177             OO               55.0            57.0      1.0  ...     5.0
57359             OH              120.0            80.0      2.0  ...    55.0
60407             EV               83.0            84.0      3.0  ...    66.0
101784            OH               30.0            44.0      4.0  ...    10.0
37840             9E               26.0            37.0      6.0  ...    10.0
135022            YV               17.0            34.0      7.0  ...     5.0
71928             AS               20.0            24.0      8.0  ...     5.0
39415             AS               19.0            24.0      9.0  ...     5.0
87597             OO               36.0            41.0      9.0  ...     3.0

        TaxiOut CancellationCode CarrierDelay  WeatherDelay  NASDelay  \
112437    140.0                N          0.0           0.0      24.0
64177      49.0                N          0.0           0.0       0.0
57359      63.0                N          0.0           0.0     120.0
60407      14.0                N          NaN           NaN       NaN
101784     16.0                N          NaN           NaN       NaN
37840      10.0                N         18.0           0.0       0.0
135022      5.0                N          0.0           0.0       0.0
71928       7.0                N          0.0           0.0       0.0
39415       5.0                N          0.0           0.0       0.0
87597      24.0                N          NaN           NaN       NaN

        SecurityDelay LateAircraftDelay  average_flight_speed (miles/min)  \
112437            0.0               0.0                               inf
64177             0.0              24.0                        150.000000
57359             0.0               0.0                         72.000000
60407             NaN               NaN                        134.666667
101784            NaN               NaN                         35.750000
37840             0.0               0.0                         11.666667
135022            0.0              31.0                         14.571429
71928            18.0               0.0                          3.875000
39415             0.0              31.0                          3.444444
87597             NaN               NaN                         11.888889

        Status
112437       1
64177        1
57359        2
60407        0
101784       0
37840        1
135022       1
71928        1
39415        1
87597        0

[10 rows x 25 columns]

In [ ]:
# And the most backward? Look for the longest routes and those with the most delays.
# We understand that the ArrDelay is more significative than the others delayed and we are going to use this in our case.

# First lets remove the negative delays, because it doesn't make sense
drop_indices = df[df.ArrDelay < 0].index
df.drop(drop_indices, inplace=True)

# And also delete the flights that have AirTime less than 5
drop_indices = df[df.AirTime < 5].index
df.drop(drop_indices, inplace=True)

# To understand better, lets just take a look at the 30 flights ordered by the longest flight and by the biggest delay
df.sort_values(by=['AirTime', 'ArrDelay'], ascending=[False, False]).iloc[0:30][['AirTime', 'ArrDelay']]

# Finally, lets create a column that is ArrDelay/AirTime
df["Proportional%Delay"] = (df.ArrDelay / df.AirTime)

print("The most backward flights:\n")
df.sort_values(by='ProportionalDelay', ascending=False).iloc[0:30][['AirTime', 'ArrDelay','ProportionalDelay']]

The most backward flights:

        AirTime  ArrDelay  ProportionalDelay
67621      28.0    1118.0          39.928571
134191     50.0    1707.0          34.140000
140001     30.0    1012.0          33.733333
128680     22.0     737.0          33.500000
63540      30.0     973.0          32.433333
156700     39.0     966.0          24.769231
183730     45.0    1020.0          22.666667
184905     27.0     609.0          22.555556
104500     18.0     401.0          22.277778
117924     33.0     735.0          22.272727
127611     28.0     619.0          22.107143
50646      34.0     719.0          21.147059
95955      28.0     547.0          19.535714
131796    132.0    2453.0          18.583333
152139     28.0     520.0          18.571429
51950      20.0     345.0          17.250000
173301     34.0     576.0          16.941176
129821     25.0     422.0          16.880000
16448      25.0     421.0          16.840000
78906      31.0     522.0          16.838710
66399      48.0     794.0          16.541667
151075     27.0     446.0          16.518519
160271     15.0     240.0          16.000000
6460       62.0     988.0          15.935484
104678     57.0     896.0          15.719298
156730     19.0     291.0          15.315789
178524     81.0    1195.0          14.753086
140654     60.0     875.0          14.583333
73798      62.0     904.0          14.580645
95144      21.0     298.0          14.190476

In [ ]:
# Export the dataset clean and with the new columns to Excel.
df.to_excel('new_data_set.xlsx')