In [2]:
# Importing the libraries
import pandas as pd

In [53]:
# Loading the dataset

# load the original data
# flights = pd.read_csv("/Users/david/Downloads/archive/DelayedFlights.csv")
# flights.head()

# get 200.000 random samples and save in a csv
# flights.sample(n=200000).to_csv('DelayedFlights_200_000_random_samples.csv', index=False)

df = pd.read_csv("DelayedFlights_200_000_random_samples.csv")
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,6980195,2008,12,19,5,1931.0,1900,2112.0,2048,CO,...,6.0,32.0,0,N,0,0.0,0.0,0.0,0.0,24.0
1,1215856,2008,3,15,6,2108.0,2000,2159.0,2050,WN,...,4.0,11.0,0,N,0,68.0,0.0,1.0,0.0,0.0
2,5678691,2008,10,27,1,1506.0,1500,1735.0,1759,DL,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,3725976,2008,7,26,6,1844.0,1644,2048.0,1844,XE,...,3.0,37.0,0,N,0,22.0,0.0,4.0,0.0,98.0
4,6704140,2008,12,9,2,1849.0,1750,2107.0,2000,US,...,8.0,18.0,0,N,0,0.0,0.0,8.0,0.0,59.0

In [45]:
# 1- Briefly explain which variables there are in the data set
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 30 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         200000 non-null  int64
 1   Year               200000 non-null  int64
 2   Month              200000 non-null  int64
 3   DayofMonth         200000 non-null  int64
 4   DayOfWeek          200000 non-null  int64
 5   DepTime            200000 non-null  float64
 6   CRSDepTime         200000 non-null  int64
 7   ArrTime            199294 non-null  float64
 8   CRSArrTime         200000 non-null  int64
 9   UniqueCarrier      200000 non-null  object
 10  FlightNum          200000 non-null  int64
 11  TailNum            200000 non-null  object
 12  ActualElapsedTime  199142 non-null  float64
 13  CRSElapsedTime     199979 non-null  float64
 14  AirTime            199142 non-null  float64
 15  ArrDelay           199142 non-null  float64
 16  DepDelay           200000 non-null  float64
 17  Origin             200000 non-null  object
 18  Dest               200000 non-null  object
 19  Distance           200000 non-null  int64
 20  TaxiIn             199294 non-null  float64
 21  TaxiOut            199961 non-null  float64
 22  Cancelled          200000 non-null  int64
 23  CancellationCode   200000 non-null  object
 24  Diverted           200000 non-null  int64
 25  CarrierDelay       128917 non-null  float64
 26  WeatherDelay       128917 non-null  float64
 27  NASDelay           128917 non-null  float64
 28  SecurityDelay      128917 non-null  float64
 29  LateAircraftDelay  128917 non-null  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 45.8+ MB

<h2>Briefly explain which variables there are in the data set</h2>
Year 2008
Month 1-12
DayofMonth 1-31
DayOfWeek 1 (Monday) - 7 (Sunday)
DepTime actual departure time (local, hhmm)
CRSDepTime scheduled departure time (local, hhmm)
ArrTime actual arrival time (local, hhmm)
CRSArrTime scheduled arrival time (local, hhmm)
UniqueCarrier unique carrier code
FlightNum flight number
TailNum plane tail number: aircraft registration, unique aircraft identifier
ActualElapsedTime in minutes
CRSElapsedTime in minutes
AirTime in minutes
ArrDelay arrival delay, in minutes: A flight is counted as "on time" if it operated less than 15 minutes later the scheduled time shown in the carriers' Computerized Reservations Systems (CRS).
DepDelay departure delay, in minutes
Origin origin IATA airport code
Dest destination IATA airport code
Distance in miles
TaxiIn taxi in time, in minutes
TaxiOut taxi out time in minutes
Cancelled *was the flight cancelled
CancellationCode reason for cancellation (A = carrier, B = weather, C = NAS, D = security)
Diverted 1 = yes, 0 = no
CarrierDelay in minutes is within the control of the air carrier. 
WeatherDelay in minutes is caused by extreme or hazardous weather conditions.
NASDelay in minutes: Delay that is within the control of the National Airspace System (NAS) may include: non-extreme weather conditions, airport operations, heavy traffic volume, air traffic control, etc.
SecurityDelay in minutes: Security delay is caused by evacuation of a terminal or concourse, re-boarding of aircraft because of security breach, inoperative screening equipment and/or long lines in excess of 29 minutes at screening areas.
LateAircraftDelay in minutes: Arrival delay at an airport due to the late arrival of the same aircraft at a previous airport. The ripple effect of an earlier delay at downstream airports is referred to as delay propagation.

In [32]:
df = df.drop("Unnamed: 0", axis=1) #Empty
df = df.drop("FlightNum", axis=1) #There is no direction with the delay
df = df.drop("TailNum", axis=1) #There is no direction with the delay

In [46]:
# How much missing data there is per column
df.isnull().sum()

Unnamed: 0               0
Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime                  0
CRSDepTime               0
ArrTime                706
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum                  0
ActualElapsedTime      858
CRSElapsedTime          21
AirTime                858
ArrDelay               858
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                 706
TaxiOut                 39
Cancelled                0
CancellationCode         0
Diverted                 0
CarrierDelay         71083
WeatherDelay         71083
NASDelay             71083
SecurityDelay        71083
LateAircraftDelay    71083
dtype: int64

In [21]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,12,19,5,1931.0,1900,2112.0,2048,CO,221.0,...,1379,6.0,32.0,N,0,0.0,0.0,0.0,0.0,24.0
1,2008,3,15,6,2108.0,2000,2159.0,2050,WN,51.0,...,187,4.0,11.0,N,0,68.0,0.0,1.0,0.0,0.0
2,2008,10,27,1,1506.0,1500,1735.0,1759,DL,149.0,...,1076,8.0,11.0,N,0,NaN,NaN,NaN,NaN,NaN
3,2008,7,26,6,1844.0,1644,2048.0,1844,XE,124.0,...,594,3.0,37.0,N,0,22.0,0.0,4.0,0.0,98.0
4,2008,12,9,2,1849.0,1750,2107.0,2000,US,198.0,...,1107,8.0,18.0,N,0,0.0,0.0,8.0,0.0,59.0

In [ ]:
# Create new columns
# Flight speed
df['average_flight_speed (miles/min)'] = df.Distance / df.AirTime
# Departure Time
dep_time = pd.to_datetime(df.Year*10000 + df.Month*100 + df.DayofMonth, format='%Y%m%d')
df.insert(loc = 0, column = 'DepDate', value = dep_time)
df = df.drop("Year", axis = 1) # Now we have the year, month and day in just one column
df = df.drop("Month", axis = 1)
df = df.drop("DayofMonth", axis = 1)

In [72]:
df.loc[:, 'Status'] = 'NOTHING'
df.loc[df.ArrDelay <= 15, 'Status'] = 0 # on time
df.loc[df.ArrDelay > 15, 'Status'] = 1 # slightly delayed
df.loc[df.ArrDelay >= 60, 'Status'] = 2 # hightly delayed
df.loc[df.Diverted == 1, 'Status'] = 3
df.loc[df.Cancelled == 1, 'Status'] = 4

df = df.drop("Cancelled", axis=1)
df = df.drop("Diverted", axis = 1)